<!DOCTYPE html>
<!-- build:[manifest] game.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Barricade</title>
  <meta name="description" content="Barricade game">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <!-- /build -->

  <!-- build:js dist/everything.min.js -->
  <script src="src/gameLogic.js"></script>
  <script src="src/game.js"></script>
  <!-- /build -->

  <!-- build:js http://yoav-zibin.github.io/emulator/dist/gameServices.min.js -->
  <script src="http://yoav-zibin.github.io/emulator/alphaBetaService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/resizeGameAreaService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <!-- /build -->

  <!-- build:js http://yoav-zibin.github.io/emulator/dist/dragAndDropListeners.min.js -->
  <script src="http://yoav-zibin.github.io/emulator/examples/drag_n_drop/dragAndDropListeners.js"></script>
  <!-- /build -->

  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-cloak ng-controller="Ctrl">

<div id="gameArea">
  <img src="imgs/board.png" width="100%" height="100%">

  <svg id="spareBarricade" width="5.88%" height="6.25%"
    style="display:none; position:absolute">
      <circle cx="50%" cy="50%" r="32%"
        stroke="dimgray" stroke-width="5%" fill="black" />
  </svg>

  <div ng-repeat="row in rows"
      style="position:absolute; top:{{row * 6.25}}%; left:0; width:100%; height:6.25%;">
    <div ng-repeat="col in cols"
        style="position:absolute; top:0; left:{{col * 5.88}}%; width:5.88%; height:100%;"
        id="{{'e2e_test_div_' + row + 'x' + col}}">
      <div ng-class="{slowlyAppear: shouldSlowlyAppear(row, col)}"
          ng-show="shouldShowImage(row, col)"
          style="width:100%; height:100%">

        <svg ng-show="isPieceR(row,col)"
          id="{{'e2e_test_pieceR_' + row + 'x' + col}}"
          width="100%" height="100%">
            <circle cx="50%" cy="50%" r="32%"
              stroke="dimgray" stroke-width="5%" fill="lightcoral" />
        </svg>
        <svg ng-show="isPieceG(row,col)"
          id="{{'e2e_test_pieceG_' + row + 'x' + col}}"
          width="100%" height="100%">
            <circle cx="50%" cy="50%" r="32%"
              stroke="dimgray" stroke-width="5%" fill="olivedrab" />
        </svg>
        <svg ng-show="isPieceB(row,col)"
          id="{{'e2e_test_pieceB_' + row + 'x' + col}}"
          width="100%" height="100%">
            <circle cx="50%" cy="50%" r="32%"
              stroke="dimgray" stroke-width="5%" fill="lightskyblue" />
        </svg>
        <svg ng-show="isPieceY(row,col)"
          id="{{'e2e_test_pieceY_' + row + 'x' + col}}"
          width="100%" height="100%">
            <circle cx="50%" cy="50%" r="32%"
              stroke="dimgray" stroke-width="5%" fill="orange" />
        </svg>
        <svg ng-show="isBarricade(row,col)"
          id="{{'e2e_test_piece1_' + row + 'x' + col}}"
          width="100%" height="100%">
            <circle cx="50%" cy="50%" r="32%"
              stroke="dimgray" stroke-width="5%" fill="black" />
        </svg>
      </div>
    </div>
  </div>
  <img class="dice" ng-src="{{getDiceSrc()}}"
      style="position:absolute; top:35%; left:85%; width:10%; height:10%"
      id="e2e_test_dice">
  <div class="button" ng-click="passMove()"
      style="position:absolute; top:47%; left:85%; width:10%; height:7%; font-family:Papyrus"
      id="e2e_test_btn" >
    Pass
  </div>
</div>

</body>
</html>
