.piece {
  position: absolute;
  width: 60%;
  top: 20%;
  left: 20%;
}
.r {
  border-right: 4pt solid black;
}
.b {
  border-bottom: 4pt solid black;
}

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

/* for dice */
.spinIn {
    -webkit-animation: spinIn 0.5s ease-out;
    -moz-animation: spinIn 0.5s ease-out;
    -o-animation: spinIn 0.5s ease-out;
    animation: spinIn 0.5s ease-out;
}
.spinOut {
    -webkit-animation: spinOut 0.5s ease-in; /* Chrome, Safari, Opera */
    -moz-animation: spinOut 0.5s ease-in;
    -o-animation: spinOut 0.5s ease-in;
    animation: spinOut 0.5s ease-in;
}

@-webkit-keyframes spinIn {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

@-moz-keyframes spinIn {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

@-o-keyframes spinIn {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

@keyframes spinIn {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

@-webkit-keyframes spinOut {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

@-moz-keyframes spinOut {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

@-o-keyframes spinOut {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

@keyframes spinOut {
    from {transform: rotate(0deg); opacity: 0.5;}
    to {transform: rotate(360deg); opacity: 1;}
}

/* for computer move */
@-webkit-keyframes moveAnimation {
  0% {top: 0%; left: 0%;}
  50% {transform:scale(2);}
}
@keyframes moveAnimation {
  0% {top: 0%; left: 0%;}
  50% {transform:scale(2);}
}


.scale {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: scale 1s;   /* Chrome, Safari, Opera */
    -moz-animation: scale 1s;
    -o-animation: scale 1s;
    animation: scale 1s;
}
@-webkit-keyframes scale {
    0% {position: absolute;
        width: 60%;
        top: 20%;
        left: 20%;}
    50% {position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;}
}

@-moz-keyframes scale {
    0% {position: absolute;
        width: 60%;
        top: 20%;
        left: 20%;}
    50% {position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;}
}

@-o-keyframes scale {
    0% {position: absolute;
        width: 60%;
        top: 20%;
        left: 20%;}
    50% {position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;}
}

@keyframes scale {
    0% {position: absolute;
        width: 60%;
        top: 20%;
        left: 20%;}
    50% {position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;}
}
